@import '../styles/variables.less';

.datePicker {
	display: inline-block;
	direction: ltr;

	/* Time/date pickers should always be arranged according to the order of the formatter */
	:global(.enact-locale-right-to-left) & {
		direction: rtl;
	}	
}

.dateComponents {
	padding-left: 48px;
}

.year {
	min-width: 120px;
}