// ProgressBar.less
//
.progressBar {
	position: relative;
	direction: ltr;

	.fill,
	.load {
		height: 100%;
		position: absolute;
	}

	&.vertical {
		display: inline-block;

		.fill,
		.load {
			width: 100%;
			bottom: 0;
		}
	}

	&.horizontal {
		/* Exported for theme customization */
	}
}
