// BodyText.module.less

.bodyText {
	text-align: left;
	margin-block-start: 1em;  // Mimmic the browser's default rules for P tag (in case the component changed)
	margin-block-end: 1em;    // Mimmic the browser's default rules for P tag (in case the component changed)

	&.centered {
		text-align: center;
	}
}
