@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/colors.less';

.selectableItem {
	.dot {
		@dot-size: @moon-selectable-item-indicator-size - 3px * 2;

		font-size: @dot-size;
		line-height: @dot-size;
		color: @moon-accent;

		margin: -4px 0 0 0;

		&:not(.selected) {
			display: none;
		}
	}
}
