@import '~@enact/ui/styles/mixins.less';

@import '../styles/variables.less';
@import '../styles/colors.less';

.dot {
	@dot-size: @moon-selectable-item-indicator-size - 3px * 2;

	font-size: @dot-size;
	line-height: @dot-size;
	color: @moon-accent;

    margin-top: 0;
    margin-bottom: 0;
    .margin-start-end(@moon-toggle-item-icon-margin, 0);

	&:not(.checked) {
		display: none;
	}
}
