// SelectableItem.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

// Interally theme our implementation using published classes from ToggleIcon
.toggleIcon {
	color: var(--moon-accent);

	.icon {
		@dot-size: @moon-selectable-item-indicator-size - 3px * 2;

		font-size: @dot-size;
		text-align: left;
		width: @moon-selectable-item-indicator-width;
		margin: 0;
	}

	&:not(.selected) {
		display: none;
	}
}

// Icon inherits its color. .toggleIcon (a wrapper for icon) above sets itself to a color.
// Reset the color of .toggleIcon to whatever this element's parent is instead of imposing a
// specific color. (Reset the line above to natural inherited color.)
.focus({
	.toggleIcon {
		.applySkins({
			color: inherit;
		});
	}
});