// Divider.module.less
//
@import "../styles/variables.less";
@import "../styles/mixins.less";
@import "../styles/skin.less";

.divider {
	.moon-divider-text();

	border-bottom: @moon-divider-border-width solid transparent;
	margin: 0 @moon-spotlight-outset (1.5 * @moon-spotlight-outset) @moon-spotlight-outset;
	min-height: (1.5 * @moon-spotlight-outset);
	line-height: @moon-divider-height;

	&.none {
		margin-bottom: 0;
		min-height: 0;
	}
	&.small {
		margin-bottom: 9px;
		min-height: 9px;
	}
	&.medium {
		margin-bottom: 21px;
		min-height: 21px;
	}
	&.large {
		margin-bottom: 39px;
		min-height: 39px;
	}

	// Skin colors
	.applySkins({
		color: @moon-divider-text-color;
		border-bottom-color: @moon-divider-border-color;
	});
}
