// IncrementSlider
//
@import '../styles/variables.less';

.incrementSlider {
	direction: ltr;	// Always arrange this according to LTR rules
	&.horizontal {
		display: flex;

		.slider {
			flex-grow: 1;
			padding-left: @moon-spotlight-outset;
			padding-right: @moon-spotlight-outset;
		}
	}

	&.vertical {
		display: inline-flex;
		flex-direction: column;

		.decrementButton,
		.incrementButton {
			display: block;
		}
		.decrementButton {
			order: 3;
		}
		.slider {
			flex-grow: 1;
			order: 2;
		}
		.incrementButton {
			order: 1;
		}
	}
}
