// IncrementSlider
//
@import '../styles/variables.less';

.incrementSlider {
	&.horizontal {
		display: flex;

		.slider {
			flex-grow: 1;
		}
	}

	&.vertical {
		display: inline-flex;
		flex-direction: column;

		.decrementButton,
		.incrementButton {
			display: block;
		}
		.decrementButton {
			order: 3;
		}
		.slider {
			flex-grow: 1;
			order: 2;
			margin-top: @moon-spotlight-outset;
			margin-bottom: @moon-spotlight-outset;
		}
		.incrementButton {
			order: 1;
		}
	}
}
