language: node_js
node_js:
    - "16"
sudo: false
cache:
  directories:
    - $(npm config get cache)
install:
    - npm config set prefer-offline false
    - npm install -g @enact/cli@6.0.2
    - npm install -g codecov
    - npm install
    - npm run bootstrap
script:
    - echo -e "\x1b\x5b35;1m*** Starting tests...\x1b\x5b0m"
    - npm test -- -- -- --runInBand --coverage
    - codecov
    - echo -e "\x1b\x5b35;1m*** Tests complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting eslint...\x1b\x5b0m"
    - npm run lerna -- run lint -- -- -- --report-unused-disable-directives --max-warnings 0 .
    - echo -e "\x1b\x5b35;1m*** eslint complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting docs validation...\x1b\x5b0m"
    - npm run validate-docs
    - echo -e "\x1b\x5b35;1m*** Docs validation complete\x1b\x5b0m"
    - echo -e "\x1b\x5b35;1m*** Starting sampler builds...\x1b\x5b0m"
    - cd packages/sampler
    - npm run pack
    - echo -e "\x1b\x5b35;1m*** sampler build complete\x1b\x5b0m"

