// ----- SYSTEM FONT NAMES ------
@font-system-src-moonstone-condensed-300:  local("LG Smart UI Cond Light"), local("Miso"), url("../../fonts/Miso/Miso-Light.ttf") format("truetype");
@font-system-src-moonstone-condensed-400:  local("LG Smart UI Cond"), local("Miso"), url("../../fonts/Miso/Miso-Regular.ttf") format("truetype");
@font-system-src-moonstone-condensed-600:  local("LG Smart UI Cond SemiBold"), local("Miso"), url("../../fonts/Miso/Miso-Bold.ttf") format("truetype");
@font-system-src-moonstone-condensed-700:  local("LG Smart UI Cond Bold"), local("Miso"), url("../../fonts/Miso/Miso-Bold.ttf") format("truetype");

@font-system-src-moonstone-100:    local("LG Smart UI Light"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Thin.ttf") format("truetype");
@font-system-src-moonstone-300:    local("LG Smart UI Light"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Light.ttf") format("truetype");
@font-system-src-moonstone-500:    local("LG Smart UI"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Medium.ttf") format("truetype");
@font-system-src-moonstone-500-i:  local("LG Smart UI"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-MediumItalic.ttf") format("truetype");
@font-system-src-moonstone-600:    local("LG Smart UI SemiBold"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Bold.ttf") format("truetype");
@font-system-src-moonstone-700:    local("LG Smart UI Bold"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Bold.ttf") format("truetype");
@font-system-src-moonstone-700-i:  local("LG Smart UI Bold"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-BoldItalic.ttf") format("truetype");
@font-system-src-moonstone-900:    local("LG Smart UI Bold"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-Black.ttf") format("truetype");
@font-system-src-moonstone-900-i:  local("LG Smart UI Bold"), local("Museo Sans"), url("../../fonts/MuseoSans/MuseoSans-BlackItalic.ttf") format("truetype");

@font-system-src-non-latin-300:  local("LG Smart UI Global-Light");
@font-system-src-non-latin-400:  local("LG Smart UI Global-Regular");
@font-system-src-non-latin-700:  local("LG Smart UI Global-Regular");

@font-system-src-moonstone-icons:  local("Moonstone"), url("../../fonts/Moonstone.ttf") format("truetype");
@font-system-src-lg-icons:         local("LG Display_Dingbat");

// Fonts are ready now, but we can't distribute them in the package.
// When should font changes go into moonstone?
// Change the moonstone font family name, retain copy of old for legacy app code
// Generate a single font-face rule
.buildFontFace(@name; @src; @weight: normal; @style: normal) {
	@font-face {
		font-family: @name;
		src: @src;
		font-weight: @weight;
		font-style: @style;
	}
}

// Generate a pair of rules in the correct order for the fallback glyphs and the preferred glyphs
.buildFontFamily(@name; @latin; @fallback; @weight: normal; @style: normal) {
	.buildFontFace(@name; @fallback; @weight; @style);
	.buildFontFace(@name; @latin; @weight; @style);
}

/* Deprecated "Miso" font family names. Retained for legacy references. */
/* ----- MISO ------ */
.buildFontFamily("Moonstone Miso"; @font-system-src-moonstone-condensed-400; @font-system-src-non-latin-400);
.buildFontFamily("Moonstone Miso"; @font-system-src-moonstone-condensed-300; @font-system-src-non-latin-300; 300);
.buildFontFamily("Moonstone Miso"; @font-system-src-moonstone-condensed-700; @font-system-src-non-latin-700; 700);

/* Deprecated "MuseoSans" font family names. Retained for legacy references. */
/* ----- Museo Sans ------ */
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400; normal; italic);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-100;   @font-system-src-non-latin-300; 100);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-300;   @font-system-src-non-latin-300; 300);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400; 500);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-500-i; @font-system-src-non-latin-400; 500; italic);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-700;   @font-system-src-non-latin-700; 700);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-700-i; @font-system-src-non-latin-700; 700; italic);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-900;   @font-system-src-non-latin-700; 900);
.buildFontFamily("MuseoSans"; @font-system-src-moonstone-900-i; @font-system-src-non-latin-700; 900; italic);

/* ----- Moonstone Condensed ------ */
.buildFontFamily("Moonstone Condensed"; @font-system-src-moonstone-condensed-400; @font-system-src-non-latin-400);
.buildFontFamily("Moonstone Condensed"; @font-system-src-moonstone-condensed-300; @font-system-src-non-latin-300; 300);
.buildFontFamily("Moonstone Condensed"; @font-system-src-moonstone-condensed-600; @font-system-src-non-latin-700; 600);
.buildFontFamily("Moonstone Condensed"; @font-system-src-moonstone-condensed-700; @font-system-src-non-latin-700; 700);

/* ----- Moonstone ------ */
.buildFontFamily("Moonstone"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400; normal; italic);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-100;   @font-system-src-non-latin-300; 100);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-300;   @font-system-src-non-latin-300; 300);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-500;   @font-system-src-non-latin-400; 500);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-500-i; @font-system-src-non-latin-400; 500; italic);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-600;   @font-system-src-non-latin-700; 600);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-700;   @font-system-src-non-latin-700; 700);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-700-i; @font-system-src-non-latin-700; 700; italic);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-900;   @font-system-src-non-latin-700; 900);
.buildFontFamily("Moonstone"; @font-system-src-moonstone-900-i; @font-system-src-non-latin-700; 900; italic);

/* ----- LG Display ------ */
.buildFontFamily("Moonstone Global"; @font-system-src-non-latin-400; @font-system-src-moonstone-500);
.buildFontFamily("Moonstone Global"; @font-system-src-non-latin-300; @font-system-src-moonstone-300; 300);
.buildFontFamily("Moonstone Global"; @font-system-src-non-latin-400; @font-system-src-moonstone-500; 400);
.buildFontFamily("Moonstone Global"; @font-system-src-non-latin-700; @font-system-src-moonstone-700; 700);

/* ----- Moonstone (Icons) ------ */
.buildFontFace("Moonstone Icons"; @font-system-src-moonstone-icons);

/* ----- LG Dingbats (Icons) ------ */
.buildFontFace("LG Icons"; @font-system-src-lg-icons);
