// ----- SYSTEM FONT NAMES ------
@font-system-src-miso-300:         local("Miso"), url("../fonts/Miso/Miso-Light.ttf") format("truetype");
@font-system-src-miso-400:         local("Miso"), url("../fonts/Miso/Miso-Regular.ttf") format("truetype");
@font-system-src-miso-700:         local("Miso"), url("../fonts/Miso/Miso-Bold.ttf") format("truetype");

@font-system-src-museosans-100:    local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-Thin.ttf") format("truetype");
@font-system-src-museosans-300:    local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-Light.ttf") format("truetype");
@font-system-src-museosans-500:    local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-Medium.ttf") format("truetype");
@font-system-src-museosans-500-i:  local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-MediumItalic.ttf") format("truetype");
@font-system-src-museosans-700:    local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-Bold.ttf") format("truetype");
@font-system-src-museosans-700-i:  local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-BoldItalic.ttf") format("truetype");
@font-system-src-museosans-900:    local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-Black.ttf") format("truetype");
@font-system-src-museosans-900-i:  local("Museo Sans"), url("../fonts/MuseoSans/MuseoSans-BlackItalic.ttf") format("truetype");

@font-system-src-non-latin:        local("LG Display-Regular");
@font-system-src-non-latin-light:  local("LG Display-Light");
@font-system-src-non-latin-bold:   local("LG Display-Regular");

@font-system-src-moonstone-icons:  local("Moonstone"), url("../fonts/Moonstone.ttf") format("truetype");
@font-system-src-lg-icons:         local("LG Display_Dingbat");


/* ----- MISO ------ */

@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-non-latin;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-miso-400;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-non-latin-bold;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-miso-700;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-non-latin-light;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Moonstone Miso";
	src: @font-system-src-miso-300;
	font-weight: 300;
	font-style: normal;
}

/* ----- Museo Sans ------ */

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-500;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-light;
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-100;
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-light;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-300;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-500;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin;
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-500-i;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-bold;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-700;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-bold;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-700-i;
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-bold;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-900;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-non-latin-bold;
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: "MuseoSans";
	src: @font-system-src-museosans-900-i;
	font-weight: 900;
	font-style: italic;
}

/* ----- Moonstone (Icons) ------ */

@font-face {
	font-family: "Moonstone Icons";
	src: @font-system-src-moonstone-icons;
	font-weight: normal;
	font-style: normal;
}

/* ----- LG Dingbats (Icons) ------ */

@font-face {
	font-family: "LG Icons";
	src: @font-system-src-lg-icons;
	font-weight: normal;
	font-style: normal;
}

/* ----- LG Display ------ */

@font-face {
	/* We want "LG Display" to map to the bold variant, since that was originally the only option */
	font-family: "Moonstone LG Display";
	src: @font-system-src-non-latin;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Moonstone LG Display";
	src: @font-system-src-non-latin-bold;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Moonstone LG Display";
	src: @font-system-src-non-latin-light;
	font-weight: 300;
	font-style: normal;
}
