// UiVirtualList.module.less
//
.virtualList {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/* hide native scrollbar */
	scrollbar-width: none;

	&.vertical {
		overflow-y: scroll;
	}

	&.horizontal {
		overflow-x: scroll;
	}

	.listItem {
		overflow: hidden;
		width: 100%;

		will-change: transform;
	}

	.content {
		will-change: transform;
	}
}

/* NOTE: Needs to be revisited whether it can be replaced with scrollbar-width */
.virtualList::-webkit-scrollbar {
	display: none;
}
