.virtualList {
	background: green;

	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	.content {
		will-change: transform;
	}
}

.vertical {
	&.native {
		overflow-y: scroll;
	}

	.listItem {
		width: calc(100% - 96px);
	}

	&.padding {
		.listItem {
			width: calc(100% - 96px);
		}
	}
}

.horizontal {
	&.native {
		overflow-x: scroll;
	}

	.listItem {
		height: calc(100% - 96px);
	}

	&.padding {
		.listItem {
			height: calc(100% - 96px);
		}
	}
}

.listItem {
	background: red;

	position: absolute;
	overflow: hidden;

	will-change: transform;
}

.virtualList::-webkit-scrollbar {
	display: none;
}
