@import "~@enact/moonstone/styles/colors.less";
@import "~@enact/moonstone/styles/variables.less";

& {
	@bg-color: @moon-spinner-ball1-color;
	@icon-color: @moon-spinner-ball3-color;
	@icon-size: 12px;
	@pointer-edge-offset: 9px;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	b {
		border-radius: 6px;
		background-color: lighten(@bg-color, 20%);
		padding: 3px 12px;
		white-space: nowrap;
	}

	.hintDialog {
		position: fixed;
		opacity: 0;
		animation: fadeIn ease-in 1;
		animation-fill-mode: forwards;
		animation-duration: 1s;
		direction: ltr;

		.pointer {
			background-color: @bg-color;
			height: ~"calc(var(--pointer-length) - " (@icon-size / 2) ~")";
			position: absolute;
			text-align: center;
			transform-origin: top center;
			width: 3px;

			.pointerIcon {
				bottom: 0;
				color: @bg-color;
				font-size: (@icon-size * 2);
				width: @icon-size;
				height: @icon-size;
				line-height: @icon-size;
				margin: 0;
				position: absolute;
				transform: translate(-50%, 50%);
			}
		}

		&:nth-of-type(1) {
			animation-delay: 0.1s;
		}

		&:nth-of-type(2) {
			animation-delay: 0.6s;
		}

		&:nth-of-type(3) {
			animation-delay: 1.2s;
		}

		&:nth-of-type(4) {
			animation-delay: 1.8s;
		}

		&.above {
			margin-top: var(--pointer-length);
			margin-right: -@pointer-edge-offset;

			.pointer {
				right: @pointer-edge-offset;
				transform: rotate(180deg);
			}
		}

		&.right {
			margin-top: -@pointer-edge-offset;
			margin-right: var(--pointer-length);

			.pointer {
				top: @pointer-edge-offset;
				transform: rotate(270deg);
			}
		}

		&.below {
			margin-left: -@pointer-edge-offset;
			margin-bottom: var(--pointer-length);

			.pointer {
				top: 100%;
				left: @pointer-edge-offset;
			}
		}

		&.left {
			margin-top: -@pointer-edge-offset;
			margin-left: var(--pointer-length);

			.pointer {
				top: @pointer-edge-offset;
				transform: rotate(90deg);
			}
		}
	}

	.text {
		display: inline-block;
		padding: 21px;
		border-radius: 6px;
		background-color: @bg-color;
		color: @moon-black;
		font-size: 21px;
		box-shadow: 3px 3px 9px @moon-dark-gray;
	}

	.icon {
		margin: 0;
		padding: 0;
		color: @icon-color;
		font-size: 12px;
		line-height: 0;
	}
}
