@import "../../src/styles/colors.less";

.navItem {
	height: 42px;
	border-bottom: solid black;
}

.viewport {
	height: 42px;
	overflow: hidden;
}

.box {
	height: 100%;
	width: 360px;
	background-color: @bg-color;
}
