@import "../../src/styles/colors.less";

.group {
	> * {
		padding: 9px;
		margin-right: 12px;
	}
}

.navItem {
	border-bottom: solid black;
}

.view {
	height: 100px;
	width: 600px;
	background-color: @bg-color;
}