// Item.less
//
@import "../styles/variables.less";
@import "../styles/text.less";

.item {
	.moon-text-base(@moon-item-font-size);
	.moon-spotlight-padding(@moon-item-vertical-padding);

	display: flex;
	align-items: center;
	line-height: @moon-item-line-height;
	position: relative;
	color: inherit;

	.moon-custom-text({
		font-size: @moon-item-font-size-large;
		line-height: @moon-item-line-height-large;
	});

	// Apply to the content area to tell it to expand to the available width of the container
	.content {
		flex: 1 1 auto;
	}

	&.inline {
		display: inline-flex;
		max-width: 240px;
		box-sizing: border-box;
	}

	.locale-japanese-line-break();
}
