// ItemOverlay.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";

// Defined so we don't repeat rules.
@overlay-hidden: {
	.overlay.hidden {
		display: none;
	}
};

.item {
	.remove-margin-on-edge-children();

	.overlay {
		line-height: 1;
		white-space: nowrap;

		// RTL-safe margin for start/end for each overlay (both sides)
		-webkit-margin-start: @moon-icon-margin;
		-webkit-margin-end: @moon-icon-margin;

		// Remove margin on the RTL-safe side for the first overlay, so the padding+margin isn't doubled
		&:first-child {
			-webkit-margin-start: 0;
		}

		&:last-child {
			-webkit-margin-end: 0;
		}

		&.before,
		&.after {
			.remove-margin-on-edge-children();

			> * {
				margin-top: 0;
				margin-bottom: 0;
				vertical-align: top;
			}
		}
	}

	// Spottable but not focused
	.spottable({
		&:not(:focus) {
			@overlay-hidden();
		}
	});
	.disabled(@overlay-hidden);
}

.muted({
	.item {
		.focus(@overlay-hidden);
	}
});
