// ItemOverlay.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.applySkins({.item {
	.overlay {
		line-height: 1;

		&.before > :first-child {
			.margin-start-end(0, @moon-icon-margin);
		}

		&.after > :last-child {
			.margin-start-end(@moon-icon-margin, 0);
		}

		&.before,
		&.after {
			> * {
				margin-top: 0;
				margin-bottom: 0;
				vertical-align: top;
			}
		}
	}

	&:global(.spottable):not(:focus),
	&[disabled] {
		.overlay.hidden {
			display: none;
		}
	}
}});
