// MoonstoneEnvironment.less
//
@import '~enact-moonstone/styles/variables.less';

.moonstone {
	height: 100vh;
	box-sizing: border-box;

	.description {
		margin: 0 @moon-spotlight-outset 1em;

		p:first-child {
			margin-top: 0;
		}
	}
}
