@import '../styles/skin.less';
@import '../styles/text.less';
@import '../styles/mixins.less';

@moon-pig-width:      321px;
@moon-pig-border-width: 6px;
@moon-pig-overlay-text-margin-bottom: 9px;

.pictureInGraphics {
	display: block;
	position: relative;
	padding: @moon-pig-border-width;
	width: @moon-pig-width;
	height: auto;

	.video {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image {
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: @moon-pig-border-width solid transparent;
		margin: 0;
	}

	.textOverlay {
		box-sizing: border-box;
		.moon-font('MuseoSans', 'Moonstone LG Display Light');
		font-size: 21px;
		font-weight: 900;
		line-height: normal;
		display: block;
		position: absolute;
		width: 100%;
		padding: 0 @moon-pig-border-width @moon-pig-border-width;
		bottom: @moon-pig-overlay-text-margin-bottom;
		left: 0;
	}

	:global(.enact-locale-right-to-left) & {
		.textOverlay,
		.image {
			right: 0;
			left: auto;
		}
	}
}
