@import '../styles/skin.less';
@import '../styles/text.less';
@import '../styles/mixins.less';

@moon-pig-width:      320px;
@moon-pig-height:     180px;
@moon-pig-border-width: 6px;
@moon-pig-overlay-text-margin-bottom: 9px;

.pictureInGraphics {
	display: block;
	position: relative;
	padding: @moon-pig-border-width;
	width: @moon-pig-width;
	height: @moon-pig-height;

	.video {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: @moon-pig-width;
		height: @moon-pig-height;
		margin: @moon-pig-border-width;
	}

	.textOverlay {
		.moon-font('MuseoSans', 'Moonstone LG Display Light');
		font-size: 21px;
		font-weight: 900;
		line-height: normal;
		display: block;
		position: absolute;
		width: @moon-pig-width;
		margin: @moon-pig-border-width;
		bottom: @moon-pig-overlay-text-margin-bottom;
		left: 0px;
	}

	:global(.enact-locale-right-to-left) & {
		.textOverlay,
		.image {
			right: 0px;
			left: auto;
		}
	}
}
