@import '../styles/skin.less';
@import '../styles/text.less';
@import '../styles/variables.less';
@import '../styles/mixins.less';

.mediaOverlay {
	display: block;
	position: relative;
	padding: @moon-mediaoverlay-spotlight-outset-width;
	width: @moon-mediaoverlay-width;
	height: auto;

	.media {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image,
	.textWrapper {
		position: absolute;
		.position(@moon-mediaoverlay-inner-padding);
	}

	.image {
		margin: 0;
		height: auto;
		width: auto;
	}

	.text {
		font-weight: @moon-mediaoverlay-font-weight;
	}
}
