@import '../styles/skin.less';
@import '../styles/text.less';
@import '../styles/variables.less';
@import '../styles/mixins.less';

.mediaOverlay {
	display: block;
	position: relative;
	padding: @moon-mediaoverlay-spotlight-outset-width;
	width: @moon-mediaoverlay-width;
	height: auto;

	.media {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image,
	.text {
		position: absolute;
		.position(@moon-mediaoverlay-inner-padding);
	}

	.image {
		box-sizing: border-box;
		background-origin: content-box;
		display: block;
		margin: 0;
		height: auto;
		width: auto;
	}

	.text {
		display: flex;
		align-items: center;
		justify-content: center;
		.moon-font('MuseoSans', 'Moonstone LG Display Light');
		font-weight: @moon-mediaoverlay-font-weight;
		font-size: @moon-mediaoverlay-font-size;
		line-height: normal;
	}
}
