@import '../styles/skin.less';
@import '../styles/text.less';
@import '../styles/variables.less';
@import '../styles/mixins.less';

.mediaOverlay {
	display: block;
	position: relative;
	padding: @moon-mediaoverlay-spotlight-outset-width;
	width: @moon-mediaoverlay-width;
	height: auto;

	.media {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.image {
		box-sizing: border-box;
		background-origin: content-box;
		display: block;
		position: absolute;
		top: @moon-mediaoverlay-inner-padding;
		left: @moon-mediaoverlay-inner-padding;
		right: @moon-mediaoverlay-inner-padding;
		bottom: @moon-mediaoverlay-inner-padding;
		margin: 0;
	}

	.text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: @moon-mediaoverlay-inner-padding;
		left: @moon-mediaoverlay-inner-padding;
		right: @moon-mediaoverlay-inner-padding;
		bottom: @moon-mediaoverlay-inner-padding;
		.moon-font('MuseoSans', 'Moonstone LG Display Light');
		font-weight: 900;
		font-size: 24px;
		line-height: normal;
	}

	:global(.enact-locale-right-to-left) & {
		.text,
		.image {
			right: 0;
			left: auto;
		}
	}
}
