.slider {
	position: relative;
	direction: ltr;

	.fill,
	.load {
		position: absolute;
		pointer-events: none;
		transform-origin: 0 0;
		will-change: transform;
	}

	.knob {
		top: 50%;
		left: 50%;
	}

	.bars,
	&.horizontal,
	&.pressed,
	&.noFill,
	&.vertical {
		/* CSS Override */
	}
}
