// Input.less
//
@import '~@enact/ui/styles/mixins.less';
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/text.less';

.input {
	.moon-body-text();

	padding: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
	color: @moon-input-font-color;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.moon-custom-text({
		font-size: @moon-item-font-size-large;
	});

	&::selection {
		color: @moon-spotlight-text-color;
		background-color: @moon-spotlight-background-color;
	}

	&[type=number] {
		-moz-appearance: textfield;

		&:hover {
			-moz-appearance: none;
		}
	}

	.input-placeholder({
		.vendor-opacity(1);

		color: @moon-input-placeholder-color;
	});

	&:global(.spottable):focus {
		cursor: text;
		color: @moon-input-font-color;
		background-color: inherit;
	}

	&[disabled] {
		cursor: default;
	}

	// moon-neutral: to override the color set by .moon-neutral *
	:global(.moon-neutral) & {
		color: @moon-input-font-color;
	}

	:global(.enact-locale-right-to-left) & {
		text-align: right;
	}
}

.decorator {
	display: inline-block;
	padding: 12px 30px;
	border-radius: 1008px;
	margin: 6px;
	border: @moon-input-border-width solid transparent;
	background-color: @moon-input-decorator-bg-color;
	box-sizing: border-box;

	.iconBefore,
	.iconAfter {
		padding: 0;
	}

	.iconAfter {
		.padding-start-end(18px, 0);
	}

	.iconBefore {
		.padding-start-end(0, 18px);
	}

	// RIGBY NOTE: multiline is a NOT YET IMPLEMENTED feature that combines <input> and <textarea>
	// into one control, to simplify input handling.
	&.multiline {
		display: block;
		padding: 12px 18px;
		border-radius: 12px;
	}

	// For ExpandableInput, the decorator will not receive focus but it can be activated by clicking
	// which should highlight the border
	&.noDecorator:active,
	&:global(.spottable):focus {
		border-color: @moon-spotlight-border-color;
		background-color: @moon-input-decorator-bg-color;
	}

	// an Input that isn't spottable is behaviorly disabled but not visually
	&:not(:global(.spottable)) .input {
		pointer-events: none;
	}

	&.focused {
		border-color: @moon-active-border-color;
	}

	.decoratorIcon,
	&:global(.spottable):focus .decoratorIcon {
		width: auto;
		margin: 0;
		color: @moon-input-font-color;
	}

	.moon-expandable-input & {
		margin: 6px 0;
	}

	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

[data-container-muted='true'] {
	.decorator {
		&.focused {
			border-color: transparent;
		}

		&:global(.spottable):focus {
			background-color: @moon-input-decorator-bg-color;
			border-color: transparent;
		}
	}
}

:global .enact-locale-non-latin {
	:local .decorator {
		padding: 6px 30px 12px;
	}

	// Languages with combining accent characters
	&.enact-locale-th, // Thai - Test Chars: ฟิ้ไััุุ
	&.enact-locale-ar, // Arabic
	&.enact-locale-fa, // Farsi
	&.enact-locale-ur, // Urdu
	&.enact-locale-ku, // Kurdish
	&.enact-locale-he, // Hebrew
	&.enact-locale-hi, // Hindi
	&.enact-locale-ta, // Tamil
	&.enact-locale-te, // Telugu
	&.enact-locale-kn, // Kannada
	&.enact-locale-ml, // Malayalam
	&.enact-locale-mr, // Marathi
	&.enact-locale-bn, // Bengali
	&.enact-locale-pa {// Panjabi
		:local .input {
			font-size: 24px;
			line-height: 48px;
		}
		:local .decorator {
			padding: 1px 30px;
		}
	}
}
