// SimpleIntegerPicker.less
//
@import '../styles/mixins.less';
@import '../styles/skin.less';
@import '../styles/variables.less';

.picker {
	vertical-align: middle;

	&.selected {
		box-shadow: inset 0 0 0 @moon-simpleintegerpicker-border-size;	// box-shadow color inherits from `color` if one is provided
	}

	.input {
		width: 100%;
		text-align: center;
		border-style: none;
		font-family: inherit;
		font-size: inherit;
		font-weight: normal;
		outline: 1px dashed cyan;

		&.hidden {
			display: none;
		}
	}

	// Skin colors
	.applySkins({
		&.selected {
			background-color: @moon-picker-editable-input-bg-color;
			color: @moon-picker-editable-input-text-color;
		}

		.input {
			color: inherit;
		}
	});
}

