@import '../styles/mixins.less';
@import '../styles/variables.less';

.scrollableFill {
	position: relative;
	width: 100%;
	height: 100%;
}

.scrollable {
	.scrollableFill;
	box-sizing: border-box;
	flex-direction: column;

	.content {
		background: inherit;
		position: relative;
		overflow: hidden;
	}

	&:global(.h) .content > .flexContainer {
		flex-direction: column;
	}
}

:global(.rtl) {
	direction: rtl;
}

/* scrollbar */
.scrollable:global(.h) .verticalScrollbar,
.scrollable:global(.v) .horizontalScrollbar {
	display: none;
}
.scrollable:not(:global(.v)):not(:global(.h)) .horizontalScrollbar {
	-webkit-padding-end: 80px;
}
