// Checkbox
//
@import '../styles/colors.less';
@import '../styles/text.less';

.checkbox {
	@size: @moon-checkbox-size;

	width: @size;
	height: @size;
	border-radius: @size;
	background-color: @moon-checkbox-background-color;

	&:not([disabled]) {
		:global(.spottable):focus & {
			background-color: @moon-checkbox-background-spotlight-color;
		}
	}

	.icon {
		visibility: hidden;
		margin: 0;
		vertical-align: top;
		line-height: @size;
		width: @size;
		height: @size;
		font-size: (@size * 2);
	}

	.moon-custom-text({
		@size: @moon-checkbox-size-large;

		width: @size;
		height: @size;
		border-radius: @size;

		.icon {
			line-height: @size;
			width: @size;
			height: @size;
			font-size: (@size * 2);
		}
	});

	&.selected {
		.icon {
			visibility: visible;
		}
	}

	:global(.moon-neutral) & {
		background-color: @moon-neutral-checkbox-bg-color;
	}
}
