// FeedbackTooltip.less
//
@import "../styles/text.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.feedbackTooltip {
	&.hidden {
		display: none;
	}

	.thumbnail,
	.content {
		pointer-events: none;
		will-change: transform;
	}

	.thumbnail {
		position: absolute;
		bottom: (@moon-video-slider-tooltip-line-height + @moon-spotlight-outset);
		border-width: @moon-video-slider-tooltip-thumbnail-border-width;
		border-style: solid;
		border-radius: 0;
		overflow: hidden;
		transition: opacity 250ms;

		.image {
			margin: 0;
			width: 252px;
			height: 141px;
		}
	}

	&.thumbnailDeactivated {
		.thumbnail {
			opacity: 0.5;
		}
	}

	.content {
		.moon-text-base(@moon-video-slider-tooltip-font-size);
		line-height: @moon-video-slider-tooltip-line-height;
		white-space: nowrap;
		position: absolute;
		bottom: @moon-spotlight-outset;
	}

	&.afterMidpoint {
		.thumbnail,
		.content {
			transform: translateX(-100%) translateX(0);
		}
	}

	.applySkins({
		.thumbnail {
			border-color: @moon-video-slider-tooltip-thumbnail-border-color;
		}

		.content {
			color: @moon-white;
			text-shadow: @moon-video-player-title-text-shadow;
		}
	});
}
