// OverscrollEffect.module.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.scrollable {
	--scrollable-overscroll-ratio-horizontalbefore: 0;
	--scrollable-overscroll-ratio-horizontalafter: 0;
	--scrollable-overscroll-ratio-verticalbefore: 0;
	--scrollable-overscroll-ratio-verticalafter: 0;

	// Skin colors
	.applySkins({
		.overscrollFrame {
			&::before,
			&::after {
				background-color: @moon-scrollable-overscroll-color;
			}
		}
	});
}

.overscrollFrame {
	&::before,
	&::after {
		display: block;
		position: absolute;
		content: "";
		border-radius: 50%;
		transition-duration: @moon-scrollable-overscroll-duration;
		transition-property: transform;
		transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	&.horizontal {
		&::before,
		&::after {
			top: 50%; // Center the element
			width: @moon-scrollable-overscroll-thickness;
			height: 70%;
		}

		&::before {
			transform: translateY(-50%) scale3d(~"calc((2 - var(--scrollable-overscroll-ratio-horizontalbefore)) / 2)", var(--scrollable-overscroll-ratio-horizontalbefore), 1);
			left: 0;
			z-index: 1;

			:global(.enact-locale-right-to-left) & {
				left: auto;
				right: 0;
			}
		}

		&::after {
			transform: translateY(-50%) scale3d(~"calc((2 - var(--scrollable-overscroll-ratio-horizontalafter)) / 2)", var(--scrollable-overscroll-ratio-horizontalafter), 1);
			right: 0;

			:global(.enact-locale-right-to-left) & {
				left: 0;
				right: auto;
			}
		}
	}

	&.vertical {
		&::before,
		&::after {
			--overscroll-effect-vertical-size: ~"calc(100% - " @moon-scrollable-scrollbar-size ~")";
			width: ~"calc(var(--overscroll-effect-vertical-size) * 0.7)";
			height: @moon-scrollable-overscroll-thickness;
			.margin-start-end(~"calc(var(--overscroll-effect-vertical-size) * 0.15)", 0);
		}

		&::before {
			transform: scale3d(var(--scrollable-overscroll-ratio-verticalbefore), ~"calc((2 - var(--scrollable-overscroll-ratio-verticalbefore)) / 2)", 1);
			top: 0;
			z-index: 1;
		}

		&::after {
			transform: scale3d(var(--scrollable-overscroll-ratio-verticalafter), ~"calc((2 - var(--scrollable-overscroll-ratio-verticalafter)) / 2)", 1);
			bottom: 0;
		}

		&.horizontalScrollbarVisible::after {
			bottom: @moon-scrollable-scrollbar-size;
		}
	}
}
