.gridListImageItem {
	box-sizing: border-box;

	.icon {
		position: relative;
	}

	.image {
		display: block; // leaving this to prevent whitespace between inline-block elements
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.overlayComponent {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.overlayContainer {
		background-color: transparent;
		pointer-events: none;
		height: 100%;
	}

	.caption,
	.selected,
	.subCaption {
		/* Public Class Names */
	}
}
