// Dropdown.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dropdown {
	width: @moon-dropdown-width;
}

.dropDownList {
	border-radius: @moon-dropdown-border-radius;
	width: @moon-dropdown-list-width;
	max-height: @moon-dropdown-list-max-height;
	display: flex;

	.moon-custom-text({
		max-height: @moon-dropdown-list-max-height-large;
	});

	.group {
		height: auto;
		flex: 1 1 auto;
	}

	// Skin colors
	.applySkins({
		.group {
			[data-selected="true"] {
				&:not(:focus) {
					color: @moon-dropdown-selected-text-color;
				}
			}
		}
	});
}
