// Dropdown.module.less
//
@import "../styles/variables.less";

.dropdown {
	width: @moon-dropdown-width;
}

.dropDownList {
	border-radius: @moon-dropdown-border-radius;
	width: @moon-dropdown-list-width;
	max-height: @moon-dropdown-list-max-height;
	display: flex;

	.group {
		height: auto;
		flex: 1 1 auto;
	}
}
