// LabeledIcon.module.less
//
@import "../styles/variables.less";

.labeledIcon {
	min-width: 96px;
	max-width: 300px;
	margin: @moon-spotlight-outset;
	padding: 0 @moon-spotlight-outset;
	font-size: @moon-labeledicon-font-size;

	// The following rules adjust the margin of icon so it behaves in a predictable way for users of
	// this component, when applying their own styling/layout rules.
	&.below .icon {
		margin-top: 0;
		margin-bottom: @moon-spotlight-outset;
	}
	&.above .icon {
		margin-top: @moon-spotlight-outset;
		margin-bottom: 0;
	}
	&.after,
	&.before,
	&.left,
	&.right {
		.icon {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.label {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
	}

	&.above,
	&.below {
		text-align: center;
	}

	// Allow the lable to collapse to smaller than its content
	&.after,
	&.before,
	&.left,
	&.right {
		.label {
			flex-shrink: 1;
		}
	}

	// Text alignment
	&.before {
		text-align: end;
	}

	&.left {
		text-align: right;
	}

	&.right {
		text-align: left;
	}
}
