// Dialog.module.less
//
@import '~@enact/ui/styles/mixins.less';

@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.dialog {
	position: relative;
	padding: @moon-dialog-top-padding @moon-dialog-h-padding @moon-dialog-bottom-padding;

	&.showDivider {
		.titleWrapper {
			border-bottom-width: @moon-header-border-bottom-width;
			border-bottom-style: solid;
			padding-bottom: 18px;
			border-bottom-width: 3px;
			margin-bottom: 18px;
		}
	}

	&.reserveClose {
		.padding-start-end(@moon-dialog-h-padding, (@moon-button-h-margin * 2) + @moon-icon-button-small-size + @moon-dialog-reserve-close-right-padding);

		.moon-custom-text({
			.padding-start-end(@moon-dialog-h-padding, @moon-icon-button-small-size-large + @moon-spotlight-outset, parent);
		});
	}

	.closeButton {
		top: @moon-dialog-close-button-top;
		right: @moon-dialog-close-button-right;
	}

	.titleBlock {
		max-width: 100%;
		min-width: 0;
	}

	.title {
		.moon-dialog-title();
		line-height: @moon-dialog-title-line-height;
		font-size: @moon-dialog-title-font-size;
		font-weight: @moon-dialog-title-font-weight;
		margin: 0;
	}

	.titleBelow {
		.moon-dialog-title-below();
		margin: 0;
	}

	.titleWrapper {
		display: flex;
		justify-content: space-between;
	}

	.body {
		.moon-dialog-content();
		margin: 0;
		position: relative;
	}

	.buttons {
		display: flex;
	}

	.buttons > :last-child {
		-webkit-margin-end: 0;
	}

	// Skin colors
	.applySkins({
		&.showDivider {
			.titleWrapper {
				border-bottom-color: @moon-header-border-color;
			}
		}
	});
}
