// Dialog.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.dialog {
	// Local variables to make this easier to read
	@dialog-padding-top: (@moon-dialog-padding-top - @moon-popup-body-margin-top);
	@dialog-padding-right: (@moon-dialog-padding-right - @moon-popup-body-margin-right);
	@dialog-padding-bottom: (@moon-dialog-padding-bottom - @moon-popup-body-margin-bottom);
	@dialog-padding-left: (@moon-dialog-padding-left - @moon-popup-body-margin-left);

	position: relative;
	padding: @dialog-padding-top @dialog-padding-right @dialog-padding-bottom @dialog-padding-left;

	&.showDivider {
		.titleWrapper {
			border-bottom-width: @moon-header-border-bottom-width;
			border-bottom-style: solid;
			padding-bottom: 18px;
			margin-bottom: 18px;
		}
	}

	&.reserveClose {
		.padding-start-end(@dialog-padding-left, @moon-dialog-padding-right); // Note the subtile name difference between these two variables. This is intentional.
	}

	.closeContainer {
		margin-top: @moon-popup-body-margin-top;
		.margin-start-end(@moon-dialog-closecontainer-separation, auto);
	}

	.title {
		.moon-dialog-title();
		line-height: @moon-dialog-title-line-height;
		font-size: @moon-dialog-title-font-size;
		font-weight: @moon-dialog-title-font-weight;
		margin: 0;
	}

	.titleBelow {
		.moon-dialog-title-below();
		margin: 0;
	}

	.body {
		.moon-dialog-content();
		margin: 0;
		position: relative;
	}


	.buttons > :last-child {
		-webkit-margin-end: 0;
	}

	// Skin colors
	.applySkins({
		&.showDivider {
			.titleWrapper {
				border-bottom-color: @moon-header-border-color;
			}
		}
	});
}
