@import '~@enact/ui/styles/mixins.less';

@import '../styles/rules.less';
@import '../styles/colors.less';
@import '../styles/text.less';
@import '../styles/variables.less';

@allRules: {.dialog {
	@dialog-spacing: 39px;
	position: relative;

	&.showDivider {
		.titleWrapper {
			border-bottom: @moon-header-border-bottom-width solid @moon-header-border-color;
			padding-bottom: 24px;
			border-bottom-width: 1px;
		}
	}
	.title {
		.moon-dialog-title();
		margin: 0 0 6px;
	}
	.titleBelow {
		.moon-dialog-title-below();
		margin: 0;
	}
	.titleWrapper {
		margin-bottom: @dialog-spacing;

		// adds a layer to allow detecting mouseenter to start title marquees
		&:before {
			position: absolute;
			content: '';
			.position(0);
		}
	}
	.body {
		.moon-dialog-content();
		margin: 0 0 @dialog-spacing;
	}
	.buttons {
		text-align: right;

		:global(.enact-locale-right-to-left) & {
			text-align: left;
		}
	}
}};

@import '../styles/skin.less';
