// common.less
// Shared styles for the sandbox views
//
@import '~enact-moonstone/styles/variables.less';

.row {
	margin: 0 @moon-spotlight-outset 2em;
}

.pickerIcon {
	margin-left: 0;
	margin-right: 0;
}
