@import '~@enact/moonstone/styles/colors.less';
@import '~@enact/moonstone/styles/variables.less';

& {
	@bg-color: @moon-spinner-ball1-color;
	@icon-color: @moon-spinner-ball3-color;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	b {
		border-radius: 6px;
		background-color: lighten(@bg-color, 20%);
		padding: 3px 12px;
		white-space: nowrap;
	}

	.hintDialog {
		position: fixed;
		opacity: 0;
		animation: fadeIn ease-in 1;
		animation-fill-mode: forwards;
		animation-duration: 1s;
		direction: ltr;

		.pointer {
			background-color: @bg-color;
			height: 201;
			position: absolute;
			text-align: center;
			transform-origin: top center;
			width: 3px;

			.pointerIcon {
				@iconSize: 12px;

				bottom: 0;
				color: @bg-color;
				font-size: (@iconSize * 2);
				width: @iconSize;
				height: @iconSize;
				line-height: @iconSize;
				margin: 0;
				position: absolute;
				transform: translate(-50%, 50%);
			}
		}

		&:nth-of-type(1) {
			animation-delay: 0.1s;
		}

		&:nth-of-type(2) {
			animation-delay: 0.6s;
		}

		&:nth-of-type(3) {
			animation-delay: 1.2s;
		}

		&:nth-of-type(4) {
			animation-delay: 1.8s;
		}
	}

	.text {
		display: inline-block;
		padding: 21px;
		border-radius: 6px;
		background-color: @bg-color;
		color: @moon-black;
		font-size: 21px;
		box-shadow: 3px 3px 9px @moon-dark-gray;
	}

	.icon {
		margin: 0;
		padding: 0;
		color: @icon-color;
		font-size: 12px;
		line-height: 0;
	}
}
