@import '../styles/colors.less';
@import '../styles/variables.less';
@import '../styles/text.less';

.tooltip {
	@offset-large: 6px;

	&.horizontal {
		&.before {
			bottom: @moon-slider-tooltip-offset;

			.moon-custom-text({
				bottom: (@moon-slider-tooltip-offset + @offset-large);
			});
		}
		&.after {
			top: @moon-slider-tooltip-offset;

			.moon-custom-text({
				top: (@moon-slider-tooltip-offset + @offset-large);
			});
		}
		[data-climax="falling"] & {
			transform: translateX(-100%);
		}
	}

	&.vertical {
		// Left side
		&.before,
		:global(.enact-locale-right-to-left) &.before.ignoreLocale,
		:global(.enact-locale-right-to-left) &.after {
			right: 0;
			transform: translate(-54px, -50%);

			.moon-custom-text({
				transform: translate((-54px - @offset-large), -50%);
			});
		}
		// Right side
		&.after,
		:global(.enact-locale-right-to-left) &.after.ignoreLocale,
		:global(.enact-locale-right-to-left) &.before {
			right: auto;
			transform: translate(54px, -50%);

			.moon-custom-text({
				transform: translate((54px + @offset-large), -50%);
			});
		}
	}
}
