// SliderTooltip.less
//
@import '../styles/variables.less';
@import '../styles/text.less';
@import '../styles/skin.less';

.applySkins({.tooltip {
	@offset-large: 0px;

	&.horizontal {
		&.before {
			bottom: @moon-slider-tooltip-offset;

			.moon-custom-text({
				bottom: (@moon-slider-tooltip-offset + @offset-large);
			});
		}
		&.after {
			top: @moon-slider-tooltip-offset;

			.moon-custom-text({
				top: (@moon-slider-tooltip-offset + @offset-large);
			});
		}
	}

	&.vertical {
		// Left side
		&.before,
		:global(.enact-locale-right-to-left) &.before.ignoreLocale,
		:global(.enact-locale-right-to-left) &.after {
			right: 0;
			transform: translate(-54px, -50%);

			.moon-custom-text({
				transform: translate((-54px - @offset-large), -50%);
			});
		}
		// Right side
		&.after,
		:global(.enact-locale-right-to-left) &.after.ignoreLocale,
		:global(.enact-locale-right-to-left) &.before {
			right: auto;
			transform: translate(54px, -50%);

			.moon-custom-text({
				transform: translate((54px + @offset-large), -50%);
			});
		}
	}
}

// In order to reference an ancestor selector ([data-climax="falling"]) that is also a descendant of
// the skin (.moonstone), we have to extract it from the main ruleset to inject the ancestor
// selector while still prefixing it with the skin selector.
[data-climax="falling"] .tooltip.horizontal {
		transform: translateX(-100%);
}

});
