@import '../styles/colors.less';
@import '../styles/variables.less';

.slider {
	position: relative;
	height: @moon-slider-knob-height;
	margin: @moon-spotlight-outset;

	&.pressed {
		.fill {
			background-color: @moon-slider-spotlight-bar-color;
		}
		.knob {
			background-color: @moon-slider-spotlight-knob-color;
		}
	}

	.fill,
	.load {
		height: 100%;
		width: 100%;
		position: absolute;
		pointer-events: none;
		transform-origin: 0 0;
		will-change: transform;
	}

	.fill {
		background-color: @moon-progress-bar-bar-bg-color;
	}

	.load {
		background-color: @moon-progress-bar-bg-color;
	}

	.visibleBar {
		position: relative;
		background-color: @moon-progress-bg-color;
	}

	.knob {
		position: absolute;
		height: @moon-slider-knob-height;
		width: @moon-slider-knob-width;
		background-color: @moon-slider-knob-bg-color;
		border-radius: (@moon-slider-knob-width / 2);
		border: @moon-button-border-width solid transparent;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
	}

	.sliderBar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0 (@moon-slider-knob-width / 2);
		background-color: transparent;
		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			height: @moon-slider-knob-height;
			width: @moon-slider-knob-width;
			// -webkit-appearance:none;
			border-radius: @moon-slider-knob-width;
			box-sizing: border-box;
			visibility: hidden;
		}
	}

	&.horizontal {
		.visibleBar {
			top: ((@moon-slider-knob-height / 2) -  (@moon-slider-bar-height / 2));
			height: @moon-slider-bar-height;
			margin: 0 (@moon-slider-knob-width / 2);
		}
		.knob {
			top: 50%;
		}
		.sliderBar {
			box-sizing: border-box;
		}
	}

	&.vertical {
		min-height: 120px;
		height: auto;
		width: @moon-slider-knob-height;
		display: inline-block;

		.fill,
		.load {
			bottom: 0;
		}

		.visibleBar {
			width: @moon-slider-bar-height;
			margin: (@moon-slider-knob-width / 2) ((@moon-slider-knob-height / 2) -  (@moon-slider-bar-height / 2));
			bottom: 0;
			height: 100%;
		}

		.knob {
			left: 50%;
			transform: translate(-50%, 50%);
		}

		.sliderBar {
			transform: rotate(270deg) translateY(-1.25rem) translate(-100%, 50%);
			transform-origin: top left;
			transition: transform 1s ease;
			height: @moon-slider-knob-height;
		}
	}

	&:global(.spottable):focus {
		background-color: transparent;

		.knob {
			background-color: @moon-slider-spotlight-knob-color;
		}
	}
}
