// ImageItem.module.less
//
.imageItem {
	box-sizing: border-box;

	.image {
		position: relative;
		display: block; // leaving this to prevent whitespace between inline-block elements
		margin: 0;
	}

	.caption,
	&.selected {
		width: 100%;
		/* Public Class Names */
	}

	&.horizontal {
		.image {
			display: inline-block;
			vertical-align: middle;
			width: 25%;
			height: 100%;
		}
		.image+div {
			display: inline-block;
			width: 75%;
			vertical-align: middle;
		}
	}

	&.vertical {
		height: 100%;
		.image {
			width: 100%;
			height: calc(100% - 50px);
		}
		.image+div {
			height: 50px;
		}
	}
}
