// ImageItem.module.scss
//
.imageItem {
	box-sizing: border-box;

	.image {
		display: block; // leaving this to prevent whitespace between inline-block elements
		margin: 0;
	}
	
	.caption,
	&.selected {
		/* Public Class Names */
	}
	
	&.horizontal {
		.image {
			width: 25%;
			height: 100%;
		}
	}
	
	&.vertical {
		.image {
			width: 100%;
			height: 100%;
		}
	}
}
