@import '../styles/variables.less';

.expandableList {
	.listItem {
		font-weight: @moon-expandable-value-font-weight;
		font-size: @moon-expandable-client-item-font-size;

		:global(.enact-text-large) & {
			font-size: @moon-expandable-client-item-font-size-large;
		}
	}
}
