// RadioItem.module.less
//
@import "../styles/variables.less";
@import "../styles/skin.less";
@import "../styles/mixins.less";

// Public
.radioItem {
	/* Available for customization */
}

// Interally theme our implementation using published classes from ToggleItem and ToggleIcon
.toggleIcon {
	.icon {
		// Calculate a round number of pixels, given a non-3-multiple
		width: ~"calc(" unit(@moon-radio-item-indicator-size) ~" * (1rem / 24))";
		height: ~"calc(" unit(@moon-radio-item-indicator-size) ~" * (1rem / 24))";
		box-sizing: border-box;
		border-width: @moon-radio-item-indicator-border;
		border-style: solid;
		border-radius: 99px;
		flex-shrink: 0;
		margin-right: 0;
		margin-left: 0;

		&::before {
			content: "";
			position: absolute;
			.position( ~"calc(" unit(@moon-radio-item-indicator-border) ~" * (1rem / 24))");  // Calculate a round number of pixels, given a non-3-multiple
			border-radius: 24px;
		}

		// The following section has been added to support a non-multiple of 3, so it can be safely
		// scaled down to not cause any rounding errors when working with float values.
		:global(.enact-res-hd) & {
			@hd-size: (floor(@moon-radio-item-indicator-size / 3) * 3);
			@hd-thickness: (@moon-radio-item-indicator-border * 0.5);
			width: @hd-size;
			height: @hd-size;
			border-width: @hd-thickness;

			&::before {
				.position(@hd-thickness);
			}
		}
	}

	// Skin colors
	.applySkins({
		.icon {
			background-color: @moon-radio-item-indicator-color;
			border-color: @moon-radio-item-indicator-border-color;
		}

		&.selected {
			.icon {
				background-color: @moon-radio-item-selected-indicator-color;
				border-color: @moon-radio-item-selected-indicator-border-color;

				&::before {
					background-color: @moon-radio-item-selected-indicator-bg-color;
				}
			}
		}
	});
}

// When a parent is focused
.focus({
	.toggleIcon {
		.applySkins({
			.icon {
				background-color: @moon-radio-item-spotlight-indicator-bg-color;
				border-color: @moon-radio-item-spotlight-indicator-border-color;
			}

			&.selected {
				.icon {
					background-color: @moon-radio-item-selected-spotlight-indicator-color;
					border-color: @moon-radio-item-selected-spotlight-indicator-border-color;

					&::before {
						background-color: @moon-radio-item-selected-spotlight-indicator-bg-color;
					}
				}
			}
		});
	}
});

.muted({
	.focus({
		.toggleIcon {
			.applySkins({
				&.selected {
					.icon {
						background-color: @moon-radio-item-selected-indicator-color;

						&::before {
							background-color: @moon-radio-item-selected-indicator-bg-color;
						}
					}
				}
			});
		}
	}, parent);
}, parent);
