@import '../styles/colors.less';
@import '../styles/variables.less';
@import '../styles/mixins.less';
@import '../styles/text.less';

.contextualPopup {
	position: absolute;
	.moon-body-text();

	.container {
		position: absolute;
		min-height: 96px;
		min-width: 96px;
		border-radius: @moon-contextual-popup-border-radius;
		border: @moon-button-border-width solid @moon-contextual-popup-border-color;
		padding: @moon-contextual-popup-padding;
		background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;

		background-color: @moon-neutral-bg-color;

		.closeButton {
			position: absolute;
			right: @moon-spotlight-outset;
			top: @moon-spotlight-outset;
			margin: 0;
		}

		&.reserveClose {
			.padding-start-end(@moon-contextual-popup-padding, @moon-icon-button-small-size + @moon-spotlight-outset);
		}

		:global(.enact-locale-right-to-left) & {
			direction: rtl;
			.closeButton {
				right: auto;
				left: @moon-spotlight-outset;
			}
		}
	}

	.arrow {
		position: absolute;
		height: @moon-contextual-popup-arrow-height;
		width: @moon-contextual-popup-arrow-width;

		.arrowBorder {
			fill: @moon-contextual-popup-border-color;
		}

		.arrowFill {
			fill: @moon-neutral-bg-color;
		}

		&.up {
			transform: rotate(180deg);
		}
		&.left {
			transform: rotate(90deg);
		}
		&.right {
			transform: rotate(-90deg);
		}
	}
}
