// hour and minute should always be left-to-right
.timeComponents {
	direction: ltr;
	display: inline-block;

	:global(.enact-locale-right-to-left) & {
		display: flex;

		.hourComponents {
			order: 2;
		}
		.minutesComponents {
			order: 3;
		}
		.meridiemComponent{
			order: 1;
		}
	}
}
