// Image.less
//
@import '../styles/variables.less';
@import '../styles/skin.less';

.applySkins({.image {
	display: inline-block;
	margin: 0 @moon-spotlight-outset;
	background-position: center;
	background-repeat: no-repeat;
	width: 320px;
	height: 240px;

	&.fit {
		background-size: contain;
	}

	&.fill {
		background-size: cover;
	}

	.img {
		height: 0;
		width: 0;
	}
}});
