// Picker
//
@import '../../styles/colors.less';
@import '../../styles/variables.less';
@import '../../styles/text.less';
@import '../../styles/mixins.less';

.picker {
	@button-width: (@moon-button-height - 12);

	display: inline-block;
	border-radius: @button-width;
	vertical-align: bottom;
	position: relative;
	direction: ltr;
	text-align: center;

	&:before {
		.position(0);

		content: '';
		display: block;
		position: absolute;
		border: 0 solid rgba(0,0,0,0.2);
		border-radius: inherit;
	}

	.sizingPlaceholder,
	.valueWrapper {
		.moon-text-base();
		.moon-locale-non-latin({line-height: @moon-button-height;});
		height: @moon-button-height;
		line-height: @moon-button-height;
		max-width: 300px;
	}

	.sizingPlaceholder {
		height: 0;
		visibility: hidden;
	}

	.valueWrapper {
		overflow: hidden;
		vertical-align: bottom;
		color: inherit;
	}

	.incrementer,
	.decrementer {
		cursor: pointer;
		margin: 0;
		position: relative;
		transition: transform 250ms;

		&[disabled] {
			cursor: default;
		}
	}

	&.horizontal {
		display: inline-flex;

		.incrementer {
			order: 3;
		}
		.decrementer {
			order: 1;
		}
		.valueWrapper {
			order: 2;
		}
	}

	&.joined {
		color: @moon-button-text-color;
		margin: 0 @moon-spotlight-outset;

		&.incrementing .incrementer,
		&.decrementing .decrementer {
			transform: scale(0.8);
		}

		&.horizontal {
			&.incrementing:before {
				border-right-width: @moon-integer-picker-shadow-width;
			}
			&.decrementing:before {
				border-left-width: @moon-integer-picker-shadow-width;
			}
			.incrementer,
			.decrementer {
				width: @button-width;
				height: @moon-button-height;
				line-height: @moon-button-height;
			}
		}

		&.vertical {
			&.incrementing:before {
				border-top-width: @moon-integer-picker-shadow-width;
			}
			&.decrementing:before {
				border-bottom-width: @moon-integer-picker-shadow-width;
			}
			.valueWrapper {
				padding: 0 1ex;
			}
			.incrementer,
			.decrementer {
				display: block;
			}
		}

		&:global(.spottable):focus {
			background-color: @moon-spotlight-border-color;
			color: @moon-spotlight-text-color;
		}
	}

	&.small .valueWrapper {
		width: 60px;
	}
	&.medium .valueWrapper {
		width: 180px;
	}
	&.large .valueWrapper {
		width: 300px;
	}

	&.small,
	&.medium,
	&.large {
		.valueWrapper {
			position: relative;

			.item {
				position: relative;
				.position(0);
			}
		}
	}

	&.vertical .valueWrapper {
		display: block;
	}

	&.vertical {
  		&.small .valueWrapper {
  			width: inherit;
  		}
  	}
}

[data-container-muted='true'] {
	.picker {
		&.joined {
			&:global(.spottable):focus {
				background-color: transparent;
				color: @moon-button-text-color;
			}
		}
	}
}
