// ToggleButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/internal/text.less";
@import "../styles/skin.less";

.toggleButton {
	.padding-start-end(@moon-button-h-padding, @moon-toggle-button-text-switch-gutter + @moon-button-h-padding + @moon-toggle-button-switch-width + @moon-toggle-button-switch-border-width);

	text-align: center;
	position: relative;

	&::after {
		.position-start-end(auto, @moon-button-h-padding);

		position: absolute;
		content: "";
		top: 50%;
		width: @moon-toggle-button-switch-width;
		height: @moon-toggle-button-switch-width;
		border-width: @moon-toggle-button-switch-border-width;
		border-style: solid;
		border-radius: @moon-button-border-radius;
		transform: translateY(-50%);
	}


	&.small {
		.padding-start-end(@moon-button-small-h-padding, @moon-toggle-button-small-text-switch-gutter + @moon-button-small-h-padding + @moon-toggle-button-switch-width + @moon-toggle-button-switch-border-width);

		&::after {
			.position-start-end(auto, @moon-button-small-h-padding);

			top: 50%;
			transform: translateY(-50%);
		}
	}

	// Skin colors
	.applySkins({
		&::after {
			background-color: @moon-toggle-button-switch-off-bg-color;
			border-color: @moon-toggle-button-switch-off-border-color;
		}

		&.selected {
			border-color: @moon-accent;

			&::after {
				background-color: @moon-toggle-button-switch-on-bg-color;
				border-color: @moon-toggle-button-switch-on-border-color;
			}
		}

		.disabled({
			&::after {
				background-color: @moon-toggle-button-switch-disabled-bg-color;
				border-color: @moon-toggle-button-switch-disabled-border-color;
			}
		});
	});
}
