// ToggleButton.module.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/skin.less";

.toggleButton {
	.padding-start-end(@moon-button-h-padding, @moon-toggle-button-text-switch-gutter + @moon-button-h-padding + @moon-toggle-button-switch-width + @moon-toggle-button-switch-border-width);

	text-align: center;
	position: relative;

	&::before, &::after {
		.position-start-end(auto, @moon-button-h-padding);

		position: absolute;
		content: "";
		top: 50%;
		border-radius: @moon-toggle-button-switch-border-radius;
	}

	&::before {
		width: @moon-toggle-button-switch-width;
		height: @moon-toggle-button-switch-width;
		border-width: @moon-toggle-button-switch-border-width;
		border-style: solid;
		transform: translateY(-50%);
	}

	&::after {
		width: @moon-toggle-button-switch-width - 3px;
		height: @moon-toggle-button-switch-width - 3px;
		transform: translate(-36%, -50%);
	}

	&.small {
		.padding-start-end(@moon-button-small-h-padding, @moon-toggle-button-small-text-switch-gutter + @moon-button-small-h-padding + @moon-toggle-button-switch-width + @moon-toggle-button-switch-border-width);

		&::before, &::after {
			.position-start-end(auto, @moon-button-small-h-padding);

			top: 50%;
		}
	}

	// Skin colors
	.applySkins({
		&::before {
			background-color: @moon-toggle-button-switch-off-bg-color;
			border-color: @moon-toggle-button-switch-off-border-color;
		}

		&::after {
			background-color: @moon-toggle-button-switch-dot-off-bg-color;
		}

		&.selected {
			border-color: @moon-accent;

			&::before {
				background-color: @moon-toggle-button-switch-on-bg-color;
				border-color: @moon-toggle-button-switch-on-border-color;
			}

			&::after {
				background-color: @moon-toggle-button-switch-dot-on-bg-color;
			}
		}

		.disabled({
			&::before {
				background-color: @moon-toggle-button-switch-disabled-bg-color;
				border-color: @moon-toggle-button-switch-disabled-border-color;
			}

			&.selected {
				&::after {
					background-color: @moon-toggle-button-switch-dot-disabled-border-color;
				}
			}
		});
	});

	.focus({
		.applySkins({
			&::before {
				background-color: @moon-toggle-button-switch-off-spotlight-bg-color;
				border-color: @moon-toggle-button-switch-off-spotlight-border-color;
			}

			&.selected {
				&::before {
					background-color: @moon-toggle-button-switch-on-spotlight-bg-color;
					border-color: @moon-toggle-button-switch-on-spotlight-border-color;
				}

				&::after {
					background-color: @moon-toggle-button-switch-dot-on-spotlight-bg-color;
				}
			}
		});
	});
}
