// ToggleButton.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/text.less';
@import '../styles/skin.less';

.applySkins({.toggleButton {
	text-align: center;
	position: relative;
	padding-right: @moon-toggle-button-text-switch-gutter + @moon-button-h-padding + @moon-toggle-button-switch-width + 2*@moon-toggle-button-switch-border-width;

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		right: @moon-button-h-padding;
		width: @moon-toggle-button-switch-width;
		height: @moon-toggle-button-switch-width;
		border-radius: @moon-button-border-radius;
		background-color: @moon-toggle-button-switch-off-bg-color;
		border: solid @moon-toggle-button-switch-border-width @moon-toggle-button-switch-off-border-color;
		transform: translateY(-50%);
	}

	&[disabled] {
		&:after {
			background-color: @moon-toggle-button-switch-disabled-bg-color;
			border-color: @moon-toggle-button-switch-disabled-border-color;
		}
	}

	&.selected {
		border-color: @moon-accent;

		&::after {
			background-color: @moon-toggle-button-switch-on-bg-color;
			border-color: @moon-toggle-button-switch-on-border-color;
		}
	}

	&.small {
		padding-right: @moon-toggle-button-text-switch-gutter + @moon-button-small-h-padding + @moon-toggle-button-switch-width + 2*@moon-toggle-button-switch-border-width;

		&::after {
			top: 50%;
			transform: translateY(-50%);
			right: @moon-button-small-h-padding;
		}
	}
}

&:global(.enact-locale-right-to-left) {
	.toggleButton {
		padding-right: @moon-button-h-padding;
		padding-left: @moon-toggle-button-text-switch-gutter + @moon-button-h-padding + @moon-toggle-button-switch-width + 2*@moon-toggle-button-switch-border-width;

		&::after {
			left: @moon-button-h-padding;
			right: auto;
		}

		&.small {
			padding-right: @moon-button-small-h-padding;
			padding-left: @moon-toggle-button-text-switch-gutter + @moon-button-small-h-padding + @moon-toggle-button-switch-width + 2*@moon-toggle-button-switch-border-width;

			&:after {
				left: @moon-button-small-h-padding;
				right: auto;
			}
		}
	}
}});
