// UI Variables
// These represent visually-agnostic values. They should not be measurements, sizes, or colors.
// Variables set in this file are used (and overridable) by __every__ theme.

// Locale
// --------------------------
$locale-tallglyph-languages: km, th, si, vi;
