// colors-highcontast.less (dark skin - high contrast)
//

@import (multiple) './colors.less';

@high-contrast-gray: #7a7a7a;
@high-contrast-light-gray: #ccc;
@high-contrast-black: #000;
@high-contrast-white: #fff;

@moon-accent: @high-contrast-light-gray;
@moon-spotlight-text-color: @high-contrast-black;

// Button
// ---------------------------------------
@moon-button-disabled-spotlight-bg-color: @high-contrast-gray;

// Checkbox
// ---------------------------------------
@moon-checkbox-check-color: @high-contrast-white;
@moon-checkbox-bg-color: @high-contrast-gray;
@moon-checkbox-spotlight-bg-color: @high-contrast-gray;
@moon-checkbox-spotlight-color: @high-contrast-white;

// DaySelector
// ---------------------------------------
@moon-day-selector-selected-bg-color: @high-contrast-light-gray;
@moon-radio-item-selected-indicator-border-color: @high-contrast-white;
@moon-radio-item-selected-spotlight-indicator-border-color: @high-contrast-white;

// EditableIntegerPicker
// ---------------------------------------
@moon-editable-integer-picker-input-text-color: @moon-active-border-color;
@moon-editable-integer-picker-input-color: @moon-input-text-color;

// FormCheckbox
// ---------------------------------------
@moon-formcheckbox-text-color: @high-contrast-white;

// Progress Bar
// ---------------------------------------
@moon-progress-bar-fill-bg-color: @high-contrast-white;

// RadioItem
// ---------------------------------------
@moon-radio-item-indicator-color: @high-contrast-gray;
@moon-radio-item-spotlight-indicator-bg-color: @high-contrast-light-gray;
@moon-radio-item-spotlight-indicator-border-color: @high-contrast-black;
@moon-radio-item-selected-indicator-color: @high-contrast-black;
@moon-radio-item-selected-indicator-bg-color: @high-contrast-white;
@moon-radio-item-selected-spotlight-indicator-color: transparent;
@moon-radio-item-selected-spotlight-indicator-bg-color: @high-contrast-black;
@moon-radio-item-selected-spotlight-indicator-border-color: @high-contrast-black;

// Scroller
// ---------------------------------------
@moon-scroller-scrollthumb-bg-color: @moon-gray;

// Slider
// ---------------------------------------
@moon-slider-spotlight-knob-color: @high-contrast-white;
@moon-slider-spotlight-bar-color: @high-contrast-white;

// Switch
// ---------------------------------------
@moon-checkbox-toggle-switch-selected-color: @high-contrast-black;
@moon-checkbox-toggle-switch-selected-bg-color: @high-contrast-white;

// Toggle Colors
// ---------------------------------------
@moon-toggle-button-switch-on-bg-color: transparent;
@moon-toggle-button-switch-dot-on-bg-color: @high-contrast-white;
@moon-toggle-button-switch-dot-disabled-border-color: @moon-toggle-button-switch-disabled-border-color;
@moon-toggle-button-switch-on-spotlight-bg-color: transparent;
@moon-toggle-button-switch-on-spotlight-border-color: @high-contrast-black;
@moon-toggle-button-switch-dot-on-spotlight-bg-color: @high-contrast-black;
@moon-toggle-button-switch-off-spotlight-bg-color: transparent;
@moon-toggle-button-switch-off-spotlight-border-color: @high-contrast-black;
