//
// Handy Information
// http://lesscss.org/features/#mixins-feature-not-outputting-the-mixin
//

@import '~@enact/ui/styles/mixins.less';

.moon-taparea(@element-size) when (@moon-button-small-tap-area-height > @element-size) {
	// Take the size of the minimum tappable area, and subtract the element's current size.
	@_tap-offset: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @element-size) / 2);

	&:before {
		content: '';
		position: absolute;
		top: @_tap-offset;
		right: @_tap-offset;
		bottom: @_tap-offset;
		left: @_tap-offset;
		border-radius: @moon-button-border-radius;
	}
}

.moon-taparea(@element-size) when (@moon-button-small-tap-area-height <= @element-size) {
	// Remove the tappable area if the tap area is smaller than the element's current size.
	&:before {
		content: none;
	}
}

.moon-item-icon-tap-area-adjust() {
	&.small > .small-icon-tap-area {
		left: -@moon-spotlight-outset;
		right: -@moon-spotlight-outset;
	}
}

.moon-word-break() {
	word-wrap: break-word;
	word-break: keep-all;
}
