@import '../styles/mixins.less';
@import '../styles/text.less';
@import '../styles/variables.less';
@import '../styles/skin.less';

.applySkins({.gridListImageItem {
	box-sizing: border-box;
	border: 6px solid transparent;

	.icon {
		width: 60px;
		height: 60px;
		line-height: 60px;
		background-color: @moon-white;
		position: relative;
		display: block;
		border: @moon-button-border-width solid black;
		border-radius: 50%;
		margin: 0;
		opacity: 0.5;

		color: transparent;
	}

	.image {
		display: block; // leaving this to prevent whitespace between inline-block elements
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.overlayComponent {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.overlayContainer {
		background-color: transparent;
		pointer-events: none;
		height: 100%;
	}

	&.selected {
		border: 6px solid @moon-gridlist-item-selection-color;
		background-color: @moon-gridlist-item-selection-color;
		.caption,
		.subCaption {
			color: @moon-spotlight-text-color;
		}
		.icon {
			border-color: @moon-accent;
			opacity: 1;

			color: @moon-accent;
		}
	}

	&.useCaption,
	&.useSubCaption {
		padding-bottom: 42px;
	}

	&.useCaption.useSubCaption {
		padding-bottom: 96px;
	}

	.caption {
		padding-top: 10px;
		.moon-sub-header-text();
		text-align: center;
	}

	.subCaption {
		padding-top: 10px;
		.moon-body-text();
		text-align: center;
	}

	&:global(.spottable):focus {
		border: 6px solid @moon-spotlight-border-color;
		background-color: @moon-spotlight-border-color;
		.caption,
		.subCaption {
			color: @moon-spotlight-text-color;
		}
	}
}

[data-container-muted='true'] {
	.gridListImageItem {
		&:global(.spottable):focus {
			border: 6px solid transparent;
			background-color: transparent;
			.caption,
			.subCaption {
				color: @moon-body-text-color;
			}
			.icon {
				color: transparent;
			}
		}
	}
}});
