.virtualListContainer {
    overflow: hidden;
	width: 100%;
    height: 100%;
    will-change: transform;
    transform-origin: top;
}

.virtualListReverseScaleContainer {
    width: 100%;
    height: 100%;
    will-change: transform;
    transform-origin: top;
}
