.virtualList {
	--virtuallist-item-width: initial;
	--virtuallist-item-height: initial;
	--virtuallist-item-flex-box: 1 0 auto;

	.listItemContainer {
		position: absolute;
		display: flex;
		width: var(--virtuallist-item-width);
		height: var(--virtuallist-item-height);
		overflow: hidden;

		will-change: transform;
	}

	div.listItemContainer > * {
		padding: 0;
		margin: 0;
		flex: var(--virtuallist-item-flex-box);
		overflow: hidden;
	}

	// For VirtualListNative
	&.vertical {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&.horizontal {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
