.list {
	position: relative;
	width: 100%;
	height: 100%;

	&.vertical {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&.horizontal {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	& .content {
		position: relative;
	}
}

.list::-webkit-scrollbar {
	display: none;
}
