@import '../styles/variables.less';

.list {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	&.vertical {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	&.horizontal {
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.container {
		position: relative;
		height: 100%;
		width: 100%;
	}
}

.list::-webkit-scrollbar {
	display: none;
}
