@import '../styles/variables.less';
@import '../styles/text.less';

.header {
	.moon-header-font();
	margin: 0 12px;

	.titleAbove {
		.moon-super-header-text();
	}

	.title {
		.moon-header-text();
		margin: 0;
	}

	.titleBelow,
	.subTitleBelow {
		.moon-sub-header-text();
		margin: 0;
		.margin-start-end(0, @moon-spotlight-outset);
		line-height: 45px;

		// Temporary, until we have a real marquee.
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.subTitleBelow {
		.moon-header-sub-title-below();
	}

	&.compact,
	.headerRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.headerCell {
			flex-grow: 1;
		}

		.headerComponents {
		}
	}

	.headerComponents {
		white-space: nowrap;
	}

	// Standard Header
	&.standard {
		height: @moon-header-height-medium;

		.title {
			line-height: @moon-medium-header-line-height;

			.enyo-locale-non-latin & {
				line-height: @moon-non-latin-medium-header-line-height;
			}
		}

		.titleBelow,
		.subTitleBelow {
			line-height: 39px;
		}
	}

	// Compact Header
	&.compact {
		height: @moon-header-height-small;
		align-items: flex-end;

		.title {
			padding: 30px 0 0 0;
			line-height: @moon-small-header-line-height;
			font-size: @moon-small-header-font-size;
			height: 84px;

			.enyo-locale-non-latin & {
				line-height: @moon-non-latin-small-header-line-height;
			}
		}
	}

	&.debug {
		border: cornflowerblue dashed 1px;

		.title {
			border: cornflowerblue dashed 1px;
		}
		.headerCell {
			border: orange dashed 1px;
		}
		.titleBelow {
			border: green dashed 1px;
		}
		.subTitleBelow {
			border: teal dashed 1px;
		}
		.headerComponents {
			border: cyan dashed 1px;
		}
	}
}
