@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/text.less';

:global(.moonstone) {
.header {
	.border-box;
	color: @moon-header-text-color;
	border-top: @moon-header-border-top-width solid @moon-header-border-color;
	border-bottom: @moon-header-border-bottom-width solid @moon-header-bottom-border-color;
	position: relative;
	max-width: 100%;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0 @moon-spotlight-outset;

	// .titleAbove {
	// 	.moon-super-header-text();
	// }

	:global(.hasCloseButton) & {
		.padding-start-end(0, @moon-spotlight-outset + @moon-icon-button-small-size + @moon-spotlight-outset);
	}

	.title {
		.moon-header-text();
		margin: 0;
		text-transform: uppercase;
	}

	.titleBelow,
	.subTitleBelow {
		.moon-sub-header-text();
		margin: 0;
		.margin-start-end(0, @moon-spotlight-outset);
		line-height: 45px;
	}

	.subTitleBelow {
		.moon-header-sub-title-below();
	}

	.headerComponents {
		flex-wrap: nowrap;
		display: flex;
		align-items: flex-end;
	}

	&.compact,
	.headerRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	// Standard Header
	&.standard {
		height: @moon-header-height-medium;

		.title {
			line-height: @moon-medium-header-line-height;

			.enyo-locale-non-latin & {
				line-height: @moon-non-latin-medium-header-line-height;
			}
		}

		.headerRow {
			position: absolute;
			width: 100%;
			height: 75px;
			bottom: 12px;

			.headerCell {
				flex-grow: 1;
				max-width: 100%;
			}
		}

		.titleBelow,
		.subTitleBelow {
			line-height: 39px;
		}
	}

	// Compact Header
	&.compact {
		height: @moon-header-height-small;
		align-items: stretch;

		.title {
			line-height: @moon-small-header-line-height;
			font-size: @moon-small-header-font-size;
			margin-top: 30px;
			display: inline-block;

			.enyo-locale-non-latin & {
				line-height: @moon-non-latin-small-header-line-height;
			}
		}

		.headerCell {
			max-width: 100%;
		}

		.titleBelow {
			display: inline;
			margin-left: (2 * @moon-spotlight-outset);
		}

		.headerComponents {
			margin: @moon-spotlight-outset 0;
		}
	}

	&:global(.debug) {
		@alpha: 10%;

		border: cornflowerblue dashed 1px;
		background-color: fade(cornflowerblue, @alpha);

		.title {
			border: lime dashed 1px;
			background-color: fade(lime, @alpha);
		}
		.headerCell {
			border: orange dashed 1px;
			background-color: fade(orange, @alpha);
		}
		.titleBelow {
			border: green dashed 1px;
			background-color: fade(green, @alpha);
		}
		.subTitleBelow {
			border: teal dashed 1px;
			background-color: fade(teal, @alpha);
		}
		.headerComponents {
			border: cyan dashed 1px;
			background-color: fade(cyan, @alpha);
		}
	}

	&.fullBleed {
		border-top-width: 0;
		border-color: @moon-header-full-bleed-border-color;
		color: @moon-header-full-bleed-text-color;

		.titleBelow,
		.subTitleBelow {
			color: @moon-header-title-below-full-bleed-text-color;
		}
	}
}
}

:global(.aqua) {
	.header {
		border: 1px solid #b4b4b4;
		background-image: linear-gradient(to bottom, #f2f1f2 0%, #e2e0e2 4%, #c7c4c7 98%, #b4b1b4 100%);
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;

		.title {
			text-align: center;
			font-size: 18px;
			font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
			font-weight: normal;
			color: #525252;
			-webkit-margin-before: 12px;
			-webkit-margin-after: 12px;
		}
	}
}

:global(.car) {
	.header {
		text-align: center;

		.title {
			font-size: 72px;
			font-weight: 900;
			font-style: italic;
			font-variant: small-caps;
			margin: 0;
			background: radial-gradient(ellipse at center, rgba(251,223,147,1) 0%,rgba(252,232,181,0) 70%,rgba(252,234,187,0) 100%);
			background-size: 100% 6px;
			background-repeat: no-repeat;
			background-position: bottom;
		}
	}
}

:global(.material) {
	.header {
		color: white;
		font-family: inherit;
		font-weight: normal;

		.title {
			padding: 30px;
			margin: 0;
		}
		.headerComponents {
			display: flex;
			flex-direction: column;
		}
	}

	[data-index='0'] .header {
		.title {
			padding-top: 120px;
			background: transparent url("http://lorempixel.com/360/240/abstract/7/") no-repeat center/cover;
		}
	}
}
