// Header.less
//
@import "../styles/mixins.less";
@import "../styles/variables.less";
@import "../styles/text.less";
@import "../styles/skin.less";

.header {
	.border-box();
	border-top-width: @moon-header-border-top-width;
	border-top-style: solid;
	border-bottom-width: @moon-header-border-bottom-width;
	border-bottom-style: solid;
	position: relative;
	max-width: 100%;
	padding: 0 0 @moon-spotlight-outset 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0 @moon-spotlight-outset;

	// .titleAbove {
	// 	.moon-super-header-text();
	// }

	.title {
		.moon-header-text();
		margin: 0;
	}

	.titleBelow,
	.subTitleBelow {
		.moon-sub-header-text();
		margin: 0;
		line-height: 45px;
	}

	.subTitleBelow {
		.moon-header-sub-title-below();
	}

	.headerComponents {
		.remove-margin-on-edge-children();
		.margin-start-end(@moon-spotlight-outset, 0);

		white-space: nowrap;
	}

	// Standard Header
	&.standard {
		height: @moon-header-height-medium;

		.title {
			line-height: @moon-medium-header-line-height;

			.moon-locale-non-latin({line-height: @moon-non-latin-medium-header-line-height;});
		}

		.titleBelow,
		.subTitleBelow {
			line-height: 39px;
		}
	}

	// Compact Header
	&.compact {
		height: @moon-header-height-small;

		.headerTitles {
			margin-bottom: -9px;
		}

		.title {
			font-size: @moon-small-header-font-size;
			display: inline;

			.moon-locale-non-latin({line-height:  @moon-non-latin-small-header-line-height;});
		}

		.titleBelow {
			display: inline;
		}
	}

	&.fullBleed {
		border-top-width: 0;
	}

	// Skin colors
	.applySkins({
		color: @moon-header-text-color;
		border-top-color: @moon-header-border-color;
		border-bottom-color: @moon-header-bottom-border-color;

		&.fullBleed {
			border-color: @moon-header-full-bleed-border-color;
			color: @moon-header-full-bleed-text-color;

			.titleBelow,
			.subTitleBelow {
				color: @moon-header-title-below-full-bleed-text-color;
			}
		}
	});
}

:global(.hasCloseButton) .header.compact,
:global(.hasCloseButton) .header.standard .title {
	.padding-start-end(0, @moon-spotlight-outset + @moon-icon-button-small-size + @moon-spotlight-outset);
}
