// ToggleItem
//
@import '../styles/mixins.less';
@import '../styles/variables.less';

.toggleItem {
    display: block;

    &.inline {
        display: inline-block;
    }


    .icon {
        margin: 0;
        .margin-start-end(0, @moon-icon-margin);

        &:not(.checked) {
            visibility: hidden;
        }
    }

    input {
        display: none;
    }
}
